@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveDownAndUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px); /* Adjust the value as needed */
  }
}

.glowing-text {
  animation: moveDownAndUp 120s ease-in-out infinite alternate;

}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fadeInAnimation {
  animation: fadeIn 2s ease-in forwards;
}


.blinking-cursor {
  display: inline-block;
  margin-right: 5px;
  width: 2px;
  height: 1em;
  background-color: currentColor;
  animation: blink 1s step-start infinite;
}



@keyframes parallax {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}